<!-- Website header -->
<header id="master-header">

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <img src="images/logo.png" width="80" alt="Mauricio Costa">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#as-seen-on">As Seen On</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kids-area">Kids Area</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header showcase section -->
    <section id="showcase">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6"></div>
                <div class="col-lg-6 col-12 showcase-content text-md-left text-center center-block">
                    <h1>Mauricio Costa</h1>
                    <div class="hr-custom mb-3 text-center"></div>
                    <p>Software Developer at Techrangers@UCF, computer science major,
                        classic car collector, loves real-time technologies, plays guitar for 10 years,
                        and passionate about entrepreneurship.</p>
                </div>
            </div>
        </div>
    </section>
</header>

<!-- As seen on -->
<section id="as-seen-on">
    <div class="container">
        <div class="row justify-content-center text-center mb-3">
            <div class="col-10">
                <h5>As Seen On</h5>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-2 col-md-4 col-10 mb-3">
                <h2><a href="https://devpost.com/software/i-am-gonna-blur-your-mind">HooHacks</a></h2>
                <span class="winner">Winner</span>
            </div>
            <div class="col-lg-2 col-md-4 col-10 mb-3">
                <h2><a href="https://devpost.com/software/stickerchain">Hack The Chain</a></h2>
                <span class="winner">Winner</span>
            </div>
            <div class="col-lg-2 col-md-4 col-10 mb-3">
                <h2><a href="https://devpost.com/software/flying-squirrel-rt0q62">EarthX<br>Hack2020</a></h2>
            </div>
            <div class="col-lg-2 col-md-4 col-10 mb-3">
                <h2><a href="https://devpost.com/software/send-me-an-angel-wezhux">Hack Quarantine</a></h2>
            </div>
            <div class="col-lg-2 col-md-4 col-10 mb-3">
                <h2><a href="https://devpost.com/software/move-me-like-you-do">WinHacks</a></h2>
                <span class="winner">Winner</span>
            </div>
        </div>
    </div>
</section>

<!-- Projects -->
<section id="projects">
    <div class="container">
        <div class="row justify-content-center text-center mb-3">
            <div class="col-10">
                <h5>Interesting Projects and Repositories I worked on</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-10 text-center">
                <img src="images/proj_dr.jpg" width="300" alt="Dragon Project">
                <h6 class="mt-3">Dragon Real-Time Technologies</h6>
                <p>Team collaboration startup I have been working
                    on for the last months. Its beta version will
                    be released on 15/06/2020.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-10 text-center">
                <a href="https://www.youtube.com/watch?v=73Iwlxa8hRI&feature=emb_title" target="_blank">
                    <img src="images/proj_angels.jpg" width="300" alt="Send Me An Angel Project">
                    <h6 class="mt-3">Send Me An Angel</h6>
                    <p>Using smart drones to deliver lightweight sanitizing
                        and facial protection kits to people, neighborhoods
                        and institutions battling COVID-19.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-10 text-center">
                <a href="https://devpost.com/software/flying-squirrel-rt0q62" target="_blank">
                    <img src="images/proj_squirrel.jpg" width="300" alt="Flying Squirrel Project">
                    <h6 class="mt-3">Flying Squirrel</h6>
                    <p>Using Programmable Drones and Machine Learning to
                        automatically identify and report potential hazards
                        to the environment.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-10 text-center">
                <a href="https://devpost.com/software/i-am-gonna-blur-your-mind" target="_blank">
                    <img src="images/proj_blur.jpg" width="300" alt="I Am Gonna Blur Your Mind Project">
                    <h6 class="mt-3">I Am Gonna Blur Your Mind</h6>
                    <p>An application that supports remote learning by using
                        brainwaves to enhance online education.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-10 text-center">
                <img src="images/proj_ds.jpg" width="300" alt="Data Science and Machine Learning Algorithms Project">
                <h6 class="mt-3">
                    <a href="https://github.com/maufcost/Data-Adventures" target="_blank">
                        Data Adventures</a> and
                    <a href="https://github.com/maufcost/linear-regression-from-scratch" target="_blank">
                        ML Algorithms</a>
                </h6>
                <p>Data Science and writing machine learning algorithms
                    from scratch.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-10 text-center">
                <a href="https://devpost.com/software/move-me-like-you-do" target="_blank">
                    <img src="images/proj_move.jpg" width="300" alt="I Like to Move it Move it Project">
                    <h6 class="mt-3">I Like to Move it Move it</h6>
                    <p>A sustainable peer-to-peer transportation app to make
                        you move it move it.</p>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-10">
                <div class="text-center">
                    <h5 class="text-center">Let's talk on twitter!</h5>
                    <p>These are my last tweets:</p>
                    <div class="tweets mb-3">
                        {{# if tweets }}
                            {{# each tweets }}
                                <div class="tweet">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-2">
                                            <img src="{{ this.profileImageUrl }}" alt="Mauricio Costa's Twitter Profile Picture">
                                        </div>
                                        <div class="col-10 text-left">
                                            <h6 class="twitter-handle">@{{ this.userHandle }}</h6>
                                            <p>{{ this.text }}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/ each }}
                        {{ else }}
                            <h5>There are no tweets to show here yet :)</h5>
                        {{/ if }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-10 text-center">
                <div class="text-center">
                    <h5>Say hi to me!</h5>
                    <p>I am 24/7 in at least one of the following:</p>
                </div>
                <ul>
                    <li class="mb-3">
                        <a href="https://devpost.com/mauriciofigueiredo" target="_blank">
                            <i class="fas fa-laptop-code"></i> Devpost
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="https://github.com/maufcost" target="_blank">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="https://www.linkedin.com/in/maufcost" target="_blank">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/mauriciofcost" target="_blank">
                            <i class="fab fa-instagram"></i> Instagram
                        </a>
                    </li>
                </ul>
                <img class="pt-5" src="images/doodle.png" alt="Doodle of a man" width="300">
            </div>
        </div>
    </div>
</section>

<!-- Kids area -->
<section id="kids-area" aria-live="polite">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <h5>Kids Area</h5>
                <p>Use my canvas to draw a cat with others while your parents take
                    a look at my portfolio.</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-10 text-center">
                <div id="canvas-holder"></div>
            </div>
            <div class="col-lg-6 col-10 text-center text-md-left">
                <p class="special-text">This section is powered by web sockets (some pretty
                cool stuff). It allows you to draw with other people
                who are looking over this portfolio at this
                exact moment.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center">
                <p>Mauricio Costa's Portfolio Project 2020 | <a href="#contact">See contact information above</a></p>
            </div>
        </div>
    </div>
</footer>
